<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <link href="/css/goods-detailed-page.css" rel="stylesheet" type="text/css">
</head>
<body>
    {{> header}}
    <div id="main-content">
        <div class="goods-header">
            <div class="goods-title">
                {{goods.title}}
            </div>
        </div>
        <div class="main-layout">
            <div class="goods-preview">
                <img class='goods-img' src="/img/{{#if goods.img_path}}{{goods.img_path}}{{else}}default{{/if}}.jpg"/>
            </div>
            <div class="description-layout">
                <div class="goods-description">
                    {{goods.description}}
                </div>
                <div class="goods-buy-container">
                    <div class="goods-price">
                        {{goods.price}}
                    </div>
                    <div class="buy-button">
                        Buy
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>