<!DOCTYPE html>
<html>
<head>
    {{>head}}
    <link href="/css/home-page.css" rel="stylesheet" type="text/css">
</head>
<body id="page-layout">
    {{> header}}
    <div id="main-content">
        <div class="top-preview-goods-layot">
            <div class="top-goods-items">
                <a href="/goods/PC"><img class='goods-img'src="https://m.media-amazon.com/images/I/71v6We6QQcL._AC_SY450_.jpg"/></a>
            </div>
            <div class="top-goods-items">
                <a href="/goods"><img class='goods-img'src="https://m.media-amazon.com/images/I/71v6We6QQcL._AC_SY450_.jpg"/></a>
            </div>
        </div>
        {{#each goodsList}}
        <div class="main-preview-goods">
            <div class="goods-name">
                   <a href="/goods/{{this.[0].category}}"> {{this.[0].category}}</a>
                </div>
            <div class="main-preview-goods-el">
            {{#each this}}
                <ul class="main-preview-goods-el-items">
                    <li>
                    <a href="/goods/:{{this.category}}/:{{this.ID}}"><img  class='goods-img' src="
                    {{#if this.image}}
                    {{this.image}}
                    {{else}}
                    /img/default.jpg
                    {{/if}}"/></a>
                    </li>
                </ul>
            {{/each}}
            </div>
            {{/each}}
    </div>
</body>
</html>